/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}


.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  border: #ccc solid 1px;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-danger {
  background: var(--danger-color);
  color: #fff;
}

.bg-success {
  background: var(--success-color);
  color: #fff;
}

.bg-white {
  background: #fff;
  color: var(--dark-color);
  border: #ccc solid 1px;
}

/* Other utilities */
.round-img {
  border-radius: 50%;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
