.jobCard {
  background-color: var(--job-card-bg);
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  padding: 1.5rem;
  transition: all 0.2s ease;
}

.jobCard:hover {
  border-color: var(--gray-300);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.jobType {
  color: var(--white-color);
  background-color: var(--pilpul-color);
  font-size: 0.875rem;
  padding: 0.3rem;
}

.jobTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.jobDescription {
  color: var(--gray-600);
  margin-bottom: 1.5rem;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.jobDetails {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.jobLocation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--red-color);
}

.jobSalary {
  font-weight: 500;
  color: var(--gray-900);
}

.jobLink {
  color: var(--gray-900);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.jobLink:hover {
  color: var(--primary-color);
}
