/* Badge */
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: var(--dark-color);
}

.badge-primary {
  background: var(--primary-color);
  color: #fff;
}

.badge-light {
  border: #ccc solid 1px;
}

.badge-dark {
  background: var(--dark-color);
  color: #fff;
}

.badge-danger {
  background: var(--danger-color);
  color: #fff;
}

.badge-success {
  background: var(--success-color);
  color: #fff;
}

.badge-white {
  background: #fff;
  color: var(--dark-color);
  border: #ccc solid 1px;
}
